<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyt.gytApi.mapper.NatmehaMedRecordsDTOMapper">
  <resultMap id="BaseResultMap" type="com.gyt.gytApi.domain.NatmehaMedRecordsDTO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <result column="OUTPAT_FORM_NO" jdbcType="VARCHAR" property="outpatFormNo" />
    <result column="VISIT_ORG_NAME" jdbcType="VARCHAR" property="visitOrgName" />
    <result column="VISIT_DEPT_NAME" jdbcType="VARCHAR" property="visitDeptName" />
    <result column="RESP_DOCTOR_NAME" jdbcType="VARCHAR" property="respDoctorName" />
    <result column="VISIT_DTIME" jdbcType="DATE" property="visitDtime" />
    <result column="OUTPAT_DIAG_NAME" jdbcType="VARCHAR" property="outpatDiagName" />
    <result column="IN_DTIME" jdbcType="DATE" property="inDtime" />
    <result column="HEALTH_PROBLEM_EVAL" jdbcType="VARCHAR" property="healthProblemEval" />
    <result column="IN_DEPT_NAME" jdbcType="VARCHAR" property="inDeptName" />
    <result column="RESP_DOCTOR_NAME" jdbcType="VARCHAR" property="respDoctorName" />
    <result column="OUTPAT_DIAG_NAME" jdbcType="VARCHAR" property="outpatDiagName" />
    <result column="DIAG_DATE" jdbcType="TIMESTAMP" property="diagDate" />
    <result column="IN_DEPT_NAME" jdbcType="VARCHAR" property="inDeptName" />
    <result column="IN_DTIME" jdbcType="TIMESTAMP" property="inDtime" />
    <result column="OUT_DTIME" jdbcType="TIMESTAMP" property="outDtime" />
    <result column="IN_REASON_CODE" jdbcType="VARCHAR" property="inReasonCode" />
    <result column="IN_BED" jdbcType="VARCHAR" property="inBed" />
    <result column="OUT_DEPT_NAME" jdbcType="VARCHAR" property="outDeptName" />
    <result column="OTHER_MEDICAL_TREATMENT" jdbcType="VARCHAR" property="otherMedicalTreatment" />
    <result column="OUT_DEPT_NAME" jdbcType="VARCHAR" property="outDeptName" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, OUTPAT_FORM_NO, VISIT_ORG_NAME, VISIT_DEPT_NAME, RESP_DOCTOR_NAME, VISIT_DTIME, OUTPAT_DIAG_NAME,
    IN_DTIME, HEALTH_PROBLEM_EVAL,IN_DEPT_NAME, RESP_DOCTOR_NAME, OUTPAT_DIAG_NAME,
    DIAG_DATE, IN_DEPT_NAME, IN_DTIME, OUT_DTIME, IN_REASON_CODE, IN_BED, OUT_DEPT_NAME, 
    OTHER_MEDICAL_TREATMENT, VISIT_DEPT_NAME
  </sql>

</mapper>